# wrangler.toml
name = "read"
main = "./server/index.js"
compatibility_date = "2025-10-08"
compatibility_flags = ["nodejs_compat"]
upload_source_maps = true

# Observability
[observability]
enabled = true

# KV Namespace untuk session storage
[[kv_namespaces]]
binding = "AUTH_STORAGE"
id = "13a468e30cc84fe58ff6297d799050f2"

# D1 Database untuk user data
[[d1_databases]]
binding = "AUTH_DB"
database_name = "readtalk_db"
database_id = "ff653b9c-4e2c-479d-8aa4-497da62de3c5"

name = "readtalk-social"
compatibility_date = "2025-10-08"
pages_build_output_dir = "build/client"

[build]
command = "npm run build"

# Environment per environment (opsional)
[env.production]
vars = { NODE_ENV = "production" }
route = { pattern = "read.soeparnocorp.workers.dev", custom_domain = false }
